@{
    ViewBag.Title = "Főoldal";
}

<h2>Evo Értékeink</h2>

<div class="evo-details-margin">
    <p>Üdvözöllek az Evo Értékeink oldalán!</p>
    <p>Itt tudod kezelni a csapattagjaid evosoftos értékeit.</p>
    <p>Ha valakinek fejlődésre lenne szükséges, keress megfelelő kihívásokat számára és itt ezt nyomon tudod követni.</p>
    <div class="image-container">
        <img src="~/Content/Images/fejlodes.png" alt="Fejlődés">
        <img src="~/Content/Images/gondoskodas.png" alt="Gondoskodás">
        <img src="~/Content/Images/jelenlet.png" alt="Jelenlét">
        <img src="~/Content/Images/megbizhatosag.png" alt="Megbízhatoság">
        <img src="~/Content/Images/mereszseg.png" alt="Merészség">
    </div>
</div>
