@{
    ViewBag.Title = "Fő oldal";
}

<h2>Evo Értékeink</h2>

<div class="evo-details-margin">
    <p>Üdvözöllek az Evo Értékeink oldalán!</p>
    <p>Itt tudod kezelni a csapattagjaid evosoftos értékeit.</p>
    <p>Ha valakinek fejlődésre lenne szükséges, keress megfelelő kihívásokat számára és itt ezt nyomon tudod követni.</p>
    <img style="width: 640px; height: 322px; margin-top: 40px" src="~/Content/Images/values.jpg" alt="Image Description" />
</div>
