@using EvoValueManager.Models.Shared
@{
    ViewBag.Title = "Főoldal";
}

<h2>Evo Értékeink</h2>

<div class="evo-details-margin">
    <p>Üdvözöllek az Evo Értékeink oldalán!</p>
    <p>Itt tudod kezelni a csapattagjaid evosoftos értékeit.</p>
    <p>Ha valakinek fejlődésre lenne szükséges, keress megfelelő kihívásokat számára és itt ezt nyomon tudod követni.</p>
    <table class="evo-index">
        <tbody>
        @foreach (var trait in Constants.Traits.Values)
        {
            <tr>
                <td class="evo-index-image">
                    <img src="@Url.Content(trait.Image)" alt="@trait.Description"/>
                </td>
                <td class="evo-index-description">
                    @trait.Description
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>