@using EvoValueManager.Models.Shared
@{
    ViewBag.Title = "Főoldal";
}

<h2>Evo Értékeink</h2>

<div class="evo-details-margin">
    <div class="values-intro">
        <p>Üdvözöllek az Evo Értékeink oldalán!</p>
        <p>Itt tudod kezelni a csapattagjaid evosoftos értékeit.</p>
        <p>Ha valakinek fejlődésre lenne szükséges, keress megfelelő kihívásokat számára és itt ezt nyomon tudod követni.</p>
    </div>

    @foreach (var trait in Constants.Traits.Values.Select((value, index) => new { Value = value, Index = index }))
    {
        <div class="values-container @(trait.Index % 2 == 0 ? "mirror" : "")">
            <div class="text-area">
                @trait.Value.Description
            </div>
            <div class="image-area">
                <img src="@Url.Content(trait.Value.Image)" alt="@trait.Value.Description">
            </div>
        </div>
    }
</div>